@import "reset.css";
@import "font-awesome.min.css";

*,*:after,*before{
	box-sizing:border-box;
}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
}

.wrap{
	width:100%;
	height:100%;
	overflow:hidden;
}
@mixin pos(){
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.wrap .top{
	width:100%;
	height:78px;
	font-size:16px;
	border-bottom:1px solid #EEEEEE;

	.header{
	width:100%;
	height:38px;
	background:#0097FF;
	@include pos;
	color:#fff;
	padding:0 15px;
		span{
		flex:1;
		&:nth-child(2){
		text-align:center;
		}
		}
	}
	.nav{
	width:100%;
	height:40px;
	display:flex;
	@include pos;

		li{
		flex:1;
		text-align:center;
			a{
			color:#A9A9A9;
			position:relative;
			text-align:center;
			font-size: 14px;
			}

		}
		.center{
			border-right:1px solid #EEEEEE;
			border-left:1px solid #EEEEEE;
			}



		.down{
		width:0;
		height:0;
		border:4px solid transparent;
		border-bottom-color:#ccc;
		display:block;
		position:absolute;
		right:-20px;
		top:3px;
		}
		.up{
		width:0;
		height:0;
		border:4px solid transparent;
		border-top-color:#ccc;
		display:block;
		position:absolute;
		right:-20px;
		top:10px;
		}
		.active{
		color:#0097FF;
		}

	border-bottom:1px solid #A9A9A9;
	}

}

.wrap .content{
	width:100%;
	overflow-y:scroll;
	position:relative;
	margin-top: 5px;
	flex:1;
	height:100%;
	.list{
	width:100%;
	display:flex;
	border-bottom:1px solid #ccc;
	box-sizing:border-box;
    box-sizing: border-box;
    padding:3px 0;
	dt{
	width:60px;
	height:60px;
	padding:5px;
		img{
			display:block;
			width:60px;
			height:60px;

		}
	}
	dd{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding: 5px 0;
	h2{
	font-size:14px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:146px;
	}
	}
	p{
	font-size:10px;
	}
	.center{
	flex:1;
	.score{
	color:#FF690F;
	}
	}
	.right{
	text-align:right;
	padding-right:5px;
	flex:1;
	font-size:10px;
	p:nth-of-type(2){
	margin:5px 0;
	}
		.confirm{
		border:1px solid #0097FF;
		color:#0097FF;
		padding:2px;
		border-radius:5px;
		margin-right:5px;
		}
		.send{
		background:#0097FF;
		color:#fff;
		border-radius:5px;
		padding:2px;
		}
		.minu{
		color:#0097FF;
		margin-left:10px;

		}
		.txt{
		span{
		border:1px solid #ccc;
		padding:2px;
		border-radius:3px;
		&:nth-child(1){
		margin-right:2px;
		}
		}
		}
	}

	}
}

.bigbox{
	width:100%;
	height:100%;
	position:absolute;
	top:79px;
	left:0;
}
.aside{
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0,0,0,0.3);
	}

	.food{
	width:100%;
	background:#F2F2F2;
	width:100%;
	height:334px;
	position:absolute;
	.dotted{
	background:#fff;
	}
		.menu_list{
		float:left;
		background:#F2F2F2;
		height:100%;
		width:45%;
				li{
		padding:0 10px;
		height:44px;
		cursor:pointer;
		line-height:44px;
			span:nth-of-child(2){
			margin-right:20px;

			}
			a{
			float:right;
			display:block;
			color:#999;
			font-size:14px;
			line-height:44px;
			margin-left: 10px;
			}
			.m{
			width:58px;
			display:inline-block;
			}
			.num{
			background:#ccc;
			color:#fff;
			display:inline;
			border-radius:8px;
			text-align:center;
			font-size:10px;
			padding:2px 4px;
			}
		}
		}
	.on{
	background:#fff;
	}
	.left{
	background:#fff;
	float:left;
	width:55%;
	height:100%;
	overflow-y:scroll;
		ul{
		padding-left:10px;
			li{
		height:43px;
		line-height:43px;
		border-bottom:1px solid #F7F7F7;
		span{
		float:right;
		padding-right:15px;
		color:#C2C2C2;
		font-size:12px;
		}
		}
		}


	}
	}

.sort{
	width:100%;
	background:#fff;
	width:100%;
	height:auto;
	position:absolute;
		ul{
			padding-left:25px;
			li{
			height:44px;
			line-height:44px;
			border-bottom:1px solid #EEEEEE;
			&:nth-child(1){
			background:url("../images/bg.png") no-repeat left center;
			padding-left:20px;
			}
			&:nth-child(2){
			background:url("../images/juli.png") no-repeat left center;
			padding-left:20px;
			}
			&:nth-child(3){
			background:url("../images/xiaoliang.png") no-repeat left center;
			padding-left:20px;
			}
			&:nth-child(4){
			background:url("../images/jiage.png") no-repeat left center;
			padding-left:20px;
			}
			&:nth-child(5){
			background:url("../images/sudu.png") no-repeat left center;
			padding-left:20px;
			}
			&:nth-child(6){
			background:url("../images/pingfen.png") no-repeat left center;
			padding-left:20px;
			}
			}
		}
	}



	.filter{
	width:100%;
	height:auto;
	position:absolute;
	width:100%;
	background:#fff;
		.method{
		width:100%;
		padding:10px 13px;
		p{
		height:30px;
		line-height:30px;
		span{
		width:80px;
		height:25px;
		border-radius:3px;
		display:inline-block;
		border:1px solid #eee;
		box-shadow:1px 1px 1px #ccc;
		margin-right:10px;
		&:last-child{
		background:url("../images/fengniao.png") no-repeat left center;
		padding-left:15px;
		}
		}
		}
		}
		.sel{
		padding:10px 15px;
		.list_sel{
			p{
			height:46px;
			line-height:46px;
			display:flex;
			justify-content:space-around;
			align-items:center;
			span{
			width:95px;
			height:30px;
			display:inline-block;
			box-shadow:1px 1px 1px #ccc;
			border:1px solid #ccc;
			margin-right:8px;
			border-radius:4px;
			text-align:center;
			line-height:30px;
			b{
			padding:2px;
			border-radius:2px;
			text-align:center;
			margin-right:10px;
			}
			}
			}
		}
		}

		.btns{
		width:100%;
		padding:5px;
		margin-top:5px;
			.btn{
			width:48%;
			height:35px;
			line-height:35px;
			border:1px solid #eee;
			display:inline-block;
			box-shadow:1px 1px 1px #eee;
			border-radius:5px;
			}
			.confirm{
			background:#56D176;
			color:#fff;
			margin-left:5px;
			}

		}
	}

